<h1>Trackables#new</h1>
<p>Find me in app/views/trackables/new.html.erb</p>

<%= form_tag search_trackables_path do %>
  <%= label_tag(:q, "Search for:") %>
  <%= text_field_tag(:q) %>
  <%= submit_tag("Search") %>
  <%= text_field_tag(:rawr) %>
<% end %>