<div class="wrapper">
	<div class="row">
		<div class="small-12 columns" >
			<p class="logofont" id="cheesycopycat"> reflect </p>
			<h2 id="cheesytext">Helping you be the person you've always wanted to be</h2>	
		</div>
	</div>
	<div class="background">
		&nbsp;
	</div>
</div>
<div class="shift">
	<div class="row ">
		<div class="large-12 columns">
			<h1 id="cheesyhead">Reflect tracks what you do.</h1>
		</div>
		<div class="large-12 columns content">
			 <p>Reflect is a tracking webapp built by an intern at Zett Pte. Ltd. Reflect was concepted under the influence of a gentlemen's wager and is therefore a webapp that has consumed much of the intern's time. That being the case, the intern is highly dedicated to Reflect. Feel free to leave your money here, in safe hands.<br><br>

			 Reflect aims to give you an overview of your life. Essentially, it's built around the premise of characterising you. The user.</p>
		</div>
	</div>
	<div class="row">
		<div class="large-12 columns">
	    	<h1 id="cheesyhead">Track...what exactly?</h1>
	    </div>
	    <div class="grid-icon-wrapper">
	    	<div class="large-4 columns content">
	    		 <div class="big-icons">
				 <i class="fi-torsos-all"></i>
				</div>
				 <p>Track how many times you talked to a friend</p>
			</div>
	    	<div class="large-4 columns content">
	    		 <div class="big-icons">
				 <i class="fi-music"></i>
				</div>
				 <p>See how many times you've listened to a song</p>
			</div>
			<div class="large-4 columns content">
	    		 <div class="big-icons">
				 <i class="fi-wrench"></i>
				</div>
				 <p>Find out the amount of hours you've spent on work</p>
			</div>
			<div class="large-4 columns content">
	    		 <div class="big-icons">
				 <i class="fi-guide-dog"></i>
				</div>
				 <p>Perhaps you want to track the amount of animals in your area</p>
			</div>
			<div class="large-4 columns content">
	    		 <div class="big-icons">
				 <i class="fi-heart"></i>
				</div>
				 <p>Maybe you need to know how many relationships you've been in</p>
			</div>
			<div class="large-4 columns content">
	    		 <div class="big-icons">
				 <i class="fi-social-youtube"></i>
				</div>
				 <p>Or the amount of hours you've spent procrastinating</p>
			</div>
			<div class="row">
				<div class="large-12 columns content">
					<div class="large-4 columns content">
			    		 <div class="big-icons">
						 <i class="fi-web"></i>
						</div>
					</div>	
					<div class="large-8 columns content centerheight">
						<h6> The idea is to track anything you want, for any situation.</h6>
					</div>
				</div>
			</div>
		</div>      
	</div>
	<div class="row">
		<div class="large-12 columns">
	    	<h1 id="cheesyhead">Why track?</h1>
	    </div>
    	<div class="large-12 columns content">
			 <p>Tracking everything you do lets you find out what kind of person you are, and where you should improve on. Here's how we do it.</p><br><br>
		</div>  
	</div> 
	<div class="row">
		<div class="large-4 columns content">
			<div class="big-icons">
				<i class="fi-checkbox"></i>
			</div>
		</div>
		<div class="large-8 columns content centerheight">
			<p>Simply add  a trait to track and click it on your dashboard to add.</p>
		</div>
	</div>
	<div class="row">
		<div class="large-4 columns content">
			<div class="big-icons">
				<i class="fi-graph-horizontal"></i>
			</div>
		</div>
		<div class="large-8 columns content centerheight">
			<p>Easy to read graphs gives you a quick overview.</p>
		</div>
	</div>
	<div class="row">
		<div class="large-4 columns content">
			<div class="big-icons">
				<i class="fi-lightbulb"></i>
			</div>
		</div>
		<div class="large-8 columns content centerheight">
			<p>We'll try to tell you how to make your life better.</p>
		</div>
	</div>
	<div class="row">
		<div class="large-12 columns">
	    	<h1 id="cheesyhead">What money?</h1>
	    </div>
    	<div class="large-12 columns content">
			 <p>Reflect will be a free service for as long as possible. That doesn't mean that we don't need any money to maintain the webapp. We'll be accepting donations for the maintainence of the webapp. Any excess funds will go to charitable organizations such as:</p>
		</div>    
	</div>
	<div class="row">
		<div class="large-3 columns">
			<%= image_tag("org1.jpg", :alt => "organization1") %>
		</div>
		<div class="large-3 columns centerheight">
			<%= image_tag("org2.gif", :alt => "organization2") %>
		</div>
		<div class="large-3 columns centerheight">
			<%= image_tag("org3.png", :alt => "organization3") %>
		</div>
		<div class="large-3 columns">
			<%= image_tag("org4.gif", :alt => "organization4") %>
		</div>
	</div>
	<div class="row">
		<div class="large-12 columns">
	    	<h1 id="cheesyhead">Who are you?</h1>
	    </div>
    	<div class="large-12 columns content">
			 <p>I'm Isaac. Founder of Zett Pte. Ltd. And also the sole intern and employee of the company. We're a startup company that are aiming to disrupt the way vendors treat people who queue up. We find that standing in a line is probably one of the least efficient ways to do things.<br><br>

			 I'm trying out Reflect as a way to test whatever i've learnt across the past 2 months of learning coding. So, if you're interested in trying out the fruits of my labour, do click the button below.</p>
		</div>    
	</div>
	<div class="row">
		<div class = "large-12 columns content">
			<%= link_to("Try it",new_user_registration_path, html_options = {class: "button", id: "tryitbutton"}) %>
		</div>
	</div>		
</div>


</html>
